$from-top:30%;

.home {
    position: relative;
    height: 100vh;
    width: 100vw;
.text1 {
    position: absolute;
    color: white;
    font-size: 2em;
    top: $from-top;
    left: 30%;
}   
.text2 {
    position: absolute;
    color: white;
    font-size: 2rem;
    top: $from-top + 10%;
    left: 30%;
}   
.typewriter  {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.1em;
    -webkit-animation-name: typing;
    animation-name: typing;
    -webkit-animation-duration: 2.5s;
    animation-duration: 2.5s;
    -webkit-animation-timing-function: 60, end;
    animation-timing-function: 60, end;
}
.show {
    display: block;
}
 
.hide {
    display: none;
}
@-webkit-keyframes typing {
    from {
        width: 0;
   }
    to {
        width: 70%;
   }
}
@keyframes typing {
    from {
        width: 0;
   }
    to {
        width: 70%;
   }
}

 video {
 height: 100%;
 width: 100%;
 object-fit: cover;
}

}